# Visual Studio files
.vs/
out/
build/
*.user
*.aps
*.suo
*.xdc
*.vc.db

# CMake artifacts
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
CMakeUserPresets.json

.vscode/

data/*.bin
data/

# NNFS_Extreme/NNFS_Extreme.cpp
# NNFS_Extreme/NNFS_Extreme.hpp

nnfs-venv/

MNIST_CV/model/

__pycache__/